{% extends "sidebarpustaka.html" %}
{% block content %}
{% load static %}
<!-- ======= Header ======= -->
<!-- {% if messages %}
  {% for message in message%}
    <div {% if message.tags %} class="alert alert-{{ message.tags}} " {% endif %}>{{message}}</div>
  {% endfor %}
{% endif %} -->

    {% if messages %}
      {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    {% endif %}
    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tambah Koleksi</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Daftar Koleksi</button>
                </li>


              </ul>
              <div class="tab-content pt-6">
                <div class="tab-content pt-6">
                  <br>
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <form method="post" action=""enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="row mb-3">
                      <label for="Judul" class="col-md-4 col-lg-3 col-form-label">Judul</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Judul" type="text" class="form-control" id="Judul" >
                      </div>
                    </div>
  
                    <div class="row mb-3">
                      <label for="Pengarang" class="col-md-4 col-lg-3 col-form-label">Pengarang</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Pengarang" type="text" class="form-control" id="Pengarang" >
                      </div>
                    </div>
  
                    <div class="row mb-3">
                      <label for="Edisi" class="col-md-4 col-lg-3 col-form-label">Edisi</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Edisi" type="text" class="form-control" id="Edisi" >
                      </div>
                    </div>
                     
                    <!-- <div class="col-md-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                        <label for="floatingName">Your Name</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email">
                        <label for="floatingEmail">Your Email</label>
                      </div>
                    </div> -->

                   
                    <div class="row mb-6">
                      <label for="isi" class="col-md-2 col-lg-3 col-form-label">Tipe Isi</label>
                      <div class="col-md-5 col-lg-2">
                        <select id="inputState" name="isi" class="form-select">
                          <option selected>Pilih</option>
                          <option>Fiksi</option>
                          <option>Pendidikan</option>
                        </select>
                      </div>
                        
                        <label for="media" class="col-md-2 col-lg-4 ">Tipe Media</label> 
                      <div class="col-md-8 col-lg-2">
                        <select class="form-select" name="media">
                          <option selected>Pilih</option>
                          <option>Cetak</option>
                          <option>Online</option>
                        </select>
                    </div>
                    </div>
  
  
                    <div class="row mb-3">
                      <label for="isbn" class="col-md-4 col-lg-3 col-form-label">ISBN/ISSN</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="isbn" type="text" class="form-control" id="isbn" >
                      </div>
                    </div>
  
                    <div class="row mb-3">
                      <label for="penerbit" class="col-md-4 col-lg-3 col-form-label">Penerbit</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="penerbit" type="text" class="form-control" id="penerbit" >
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-3">
                        <label class="mt-1">Tahun Terbit</label>
                      </div>                    
                      <div class="col">
                        <input class="form-control" type="text" name="tpenerbit">
                      </div>
                    </div>
  
                    <div class="row mb-3">
                      <label for="tterbit" class="col-md-4 col-lg-3 col-form-label">Tempat Terbit</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="tterbit" type="text" class="form-control" id="tterbit" >
                      </div>
                    </div>
  
                    <div class="row mb-3">
                      <label for="klasifikasi" class="col-md-4 col-lg-3 col-form-label">Klasifikasi</label>
                      <div class="col-md-8 col-lg-5">
                        <select id="inputState" name="klasifikasi" class="form-select">
                          <option selected>Pilih</option>
                          <option>123</option>
                          <option>23432</option>
                        </select>
                      </div>
                    </div>
  
                    <div class="row mb-3">
                      <label for="bhs" class="col-md-4 col-lg-3 col-form-label">Bahasa</label>
                      <div class="col-md-8 col-lg-5">
                        <select id="inputState" name="bhs" class="form-select">
                          <option selected>Pilih</option>
                          <option>Bahasa Indonesia</option>
                          <option>English</option>
                        </select>
                      </div>
                    </div>
  
                    <div class="row mb-3">
                      <label for="img" class="col-sm-3 col-form-label">Cover Upload</label>
                      <div class="col-sm-5">
                      <input class="form-control" name="cover" type="file" id="formFile"><br>
                      </div>
                  </div>
  
                  <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-3 pt-0">Promosikan di Beranda</legend>
                    <div class="col-sm-5">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadioss" id="gridRadios1" value="Promosikan" checked>
                        <label class="form-check-label" for="gridRadios1">
                          Promosikan
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadioss" id="gridRadios2" value="Jangan Promosikan">
                        <label class="form-check-label" for="gridRadios2">
                          Jangan Promosikan
                        </label>
                      </div>
                    </div>
                  </fieldset>
  
                  <br>
                  <div class="row mb-3">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Submit Form</button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <table class="table">
                    <thead>
                    <tr>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Judul</th>
                        <th scope="col">Info Detail Spesifik</th>
                        <th scope="col">Pengarang</th>
                        <th scope="col">Cover</th>
                        <th scope="col"></th>
                      </tr>
                    </tr>
                  </thead>  
                  <tbody>
                    {% for z in data %} 
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{z.judul}}</td>
                      <td>{{z.info_detail_spesifikasi}}</td>
                      <td>{{z.pengarang}}</td>
                      <td> <img src="{{z.cover.url}}"></td>
                      <td>
                       <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal_{{z.id}}" style="padding: 5px;" class="bi bi-trash-fill"></a>
                        <a type="button" style="padding: 5px;" class="bi bi-pencil-fill" href="{{z.id}}/edit_biblografi"></a>
                        <a type="button" style="padding: 5px;" class="bi bi-eye-fill"href="{{z.id}}/detail_biblografi"></a>
                    </td>
                  </tr>
                    <div class="modal fade" id="exampleModal_{{z.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" class="modal-body">
                              <center>
                              <h6>Apakah Anda ingin menghapus data ini?</h6>
                              <div class="row">
                                <div class="col-8">
                                  <a type="button"  href="{{z.id}}/delete_biblografi">Ya</a>
                                </div>
                                <div class="col-1">
                                  <a type="button"  href="{% url 'biblografi' %}">Tidak</a>
                                </div>
                              </div>
                              <br>
                            </center>
                          </form>
                      {% endfor %}     
                  </tbody>                
                </table>
              </div>
              </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
  </section>
  <!-- End #main -->
{% endblock %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#cari').DataTable();
  }   );
</script>