{% extends "sidebarpustaka.html" %}
{% block content %}
{% load static %}


{% if messages %}
      {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    {% endif %}
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
        </div>

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Biblografi</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Daftar Biblografi</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-exem">Tambah Exemplar</button>
                </li>

              </ul>
              <div class="tab-content pt-6">
                <br>
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <!-- <div class="row mb-3 col-lg-7">
                    <label for="Judul" class="col-md-4 col-lg-3 col-form-label">Judul</label>
                    <div class="col-md-15 col-lg-5">
                      <input name="Judul" type="text" class="form-control" id="Judul" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Pengarang" class="col-md-4 col-lg-3 col-form-label">Pengarang</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="Pengarang" type="text" class="form-control" id="Pengarang" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Edisi" class="col-md-4 col-lg-3 col-form-label">Edisi</label>
                    <div class="col-md-8 col-lg-5">
                      <input name="Edisi" type="text" class="form-control" id="Edisi" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="ids" class="col-md-4 col-lg-3 col-form-label">Info Detail Spesifik</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="ids" type="text" class="form-control" id="ids" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="isi" class="col-md-4 col-lg-3 col-form-label">Tipe Isi</label>
                    <div class="col-md-8 col-lg-5">
                      <select id="inputState" name="isi" class="form-select">
                        <option selected>Pilih</option>
                        <option>Fiksi</option>
                        <option>Pendidikan</option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="media" class="col-md-4 col-lg-3 col-form-label">Tipe Media</label>
                    <div class="col-md-8 col-lg-5">
                      <select class="form-select" name="media" aria-label="Default select example">
                        <option selected>Pilih</option>
                        <option>Cetak</option>
                        <option>Online</option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="isbn" class="col-md-4 col-lg-3 col-form-label">ISBN/ISSN</label>
                    <div class="col-md-8 col-lg-5">
                      <input name="isbn" type="text" class="form-control" id="isbn" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="penerbit" class="col-md-4 col-lg-3 col-form-label">Penerbit</label>
                    <div class="col-md-8 col-lg-4">
                      <input name="penerbit" type="text" class="form-control" id="penerbit" >
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3 col-lg4">
                      <label class="mt">Tahun Terbit</label>
                    </div>                    
                    <div class="col">
                      <input class="form-control" type="number" name="tpenerbit">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="tterbit" class="col-md-4 col-lg-3 col-form-label">Tempat Terbit</label>
                    <div class="col-md-8 col-lg-5">
                      <input name="tterbit" type="text" class="form-control" id="tterbit" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="ds" class="col-md-4 col-lg-3 col-form-label">Diskripsi  Fisik</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="ds" type="text" class="form-control" id="ds" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="klasifikasi" class="col-md-4 col-lg-3 col-form-label">Klasifikasi</label>
                    <div class="col-md-8 col-lg-5">
                      <select id="inputState" name="klasifikasi" class="form-select">
                        <option selected>Pilih</option>
                        <option>123</option>
                        <option>23432</option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="bhs" class="col-md-4 col-lg-3 col-form-label">Bahasa</label>
                    <div class="col-md-8 col-lg-5">
                      <select id="inputState" name="bhs" class="form-select">
                        <option selected>Pilih</option>
                        <option>Bahasa Indonesia</option>
                        <option>English</option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="img" class="col-sm-3 col-form-label">Cover Upload</label>
                    <div class="col-sm-5">
                    <input class="form-control" name="cover" type="file" id="formFile"><br>
                    </div>
                  </div>

                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-3 pt-0">Sembunyikan Diopac</legend>
                  <div class="col-sm-5">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Tampilkan" checked>
                      <label class="form-check-label" for="gridRadios1">
                        Tampilkan
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Sembunyikan">
                      <label class="form-check-label" for="gridRadios2">
                        Sembunyikan
                      </label>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-3 pt-0">Promosikan di Beranda</legend>
                  <div class="col-sm-5">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadioss" id="gridRadios1" value="Promosikan" checked>
                      <label class="form-check-label" for="gridRadios1">
                        Promosikan
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadioss" id="gridRadios2" value="Jangan Promosikan">
                      <label class="form-check-label" for="gridRadios2">
                        Jangan Promosikan
                      </label>
                    </div>
                  </div>
                </fieldset>

                <br> -->
              <form class="row g-3" method="post" action="">
                  {% csrf_token %}
                <div class="col-md-6">
                  <label for="Formnama" class="form-label">Judul</label>
                  <input type="text" class="form-control" id="Formnama" name="judul">
                </div>
                <div class="col-md-6">
                  <label for="Formtl" class="form-label">Pengarang</label>
                  <input type="text" class="form-control" id="Formtl" name="pengarang">
                </div>
                <div class="col-md-6">
                  <label for="Formtl" class="form-label">Edisi</label>
                  <input type="text" class="form-control" id="Formtl" name="edisi">
                </div>
                <div class="col-md-6">
                  <label for="Formtl" class="form-label">Info Detail Spesifik</label>
                  <input type="text" class="form-control" id="Formtl" name="ids">
                </div>
                <div class="col-md-6">
                  <label  class="form-label">Tipe Isi</label>
                  <select class="form-select" name="j" aria-label=".form-select-sm example">
                    <option selected>Pilih</option>
                    <option value="1">Fiksi</option>
                    <option value="2">Pendidikan</option>
                  </select>
                </div> 
                <div class="col-md-6">
                  <label  class="form-label">Tipe Media</label>
                  <select class="form-select" name="media" aria-label=".form-select-sm example">
                    <option selected>Pilih</option>
                    <option value="1">Cetak</option>
                    <option value="2">Online</option>
                  </select>
                </div> 
                <div class="col-md-6">
                  <label for="Formtanggalregistrasi" class="form-label">ISBN/ISSN</label>
                  <input type="date" class="form-control" id="Formtanggalregistrasi" name="isbn">
                </div>
                <div class="col-md-6">
                  <label for="Formberlakuhingga" class="form-label">Penerbit</label>
                  <input type="text" class="form-control" id="Formberlakuhingga" name="penerbit">
                </div>
                <div class="col-md-6">
                  <label for="Formberlakuhingga" class="form-label">Tahun Terbit</label>
                  <input type="number" class="form-control" id="Formberlakuhingga" name="tpenerbit">
                </div>
                <div class="col-md-6">
                  <label for="Formberlakuhingga" class="form-label">Tempat Terbit</label>
                  <input type="text" class="form-control" id="Formberlakuhingga" name="tterbit">
                </div>
                <div class="col-md-6">
                  <label for="FormTanggalLahir" class="form-label">Diskripsi Fisik</label>
                  <input type="text" class="form-control" id="ds" name="ds">
                </di>
  
                <div class="col-md-6">
                  <label for="FormT" class="form-label">Klasifikasi</label>
                  <select class="form-select"  aria-label="Default select example" name="klasifikasi">
                    <option selected>Pilih</option>
                    <option value="1">34567</option>
                    <option value="2">1234</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="FormT" class="form-label">Pilih Bahasa</label>
                  <select id="inputState" name="bhs" class="form-select">
                    <option selected>Pilih</option>
                    <option>Bahasa Indonesia</option>
                    <option>English</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="img" class=" col-form-label">Cover Upload</label>
                  <div class="col-md-6">
                  <input class="form-control" name="cover" type="file" id="formFile"><br>
                  </div>
                </div>
              <br>
                <div class="row mb-3">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                  </div>
                </div>
              </form>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
              <!-- Profile Tampil Form -->
              <table class="table">
                <thead>
                <tr>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Judul</th>
                    <th scope="col">Info Detail Spesifik</th>
                    <th scope="col">Pengarang</th>
                    <th scope="col">Bahasa</th>
                    <th scope="col">Cover</th>
                    <th scope="col"></th>
                  </tr>
                </tr>
              </thead>  
              <tbody>
                {% for z in data %} 
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{z.judul}}</td>
                  <td>{{z.info_detail_spesifikasi}}</td>
                  <td>{{z.pengarang}}</td>
                  <td>{{z.bahasa}}</td>
                  <td> <img src="{{buku.cover.url}}"></td>
                  <td>
                   <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal_{{z.id}}" style="padding: 5px;" class="bi bi-trash-fill"></a>
                    <a type="button" style="padding: 5px;" class="bi bi-pencil-fill" href="{{z.id}}/edit_biblografi"></a>
                    <a type="button" style="padding: 5px;" class="bi bi-eye-fill"href="{{z.id}}/detail_biblografi"></a>
                </td>
              </tr>
                <div class="modal fade" id="exampleModal_{{z.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="modal-body">
                          <center>
                          <h6>Apakah Anda ingin menghapus data ini?</h6>
                          <div class="row">
                            <div class="col-8">
                              <a type="button"  href="{{z.id}}/delete_biblografi">Ya</a>
                            </div>
                            <div class="col-1">
                              <a type="button"  href="{% url 'biblografi' %}">Tidak</a>
                            </div>
                          </div>
                          <br>
                        </center>
                      </form>
                    </div> 
                  </div>
                </div>
                {% endfor %}     
              </tbody>                
            </table>
          </div>
              <br>
              <div class="tab-pane fade show active profile-exem" id="profile-exem">
                <table class="table">
                  <thead>
                  <tr>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">Judul</th>
                      <th scope="col">Info Detail Spesifik</th>
                      <th scope="col">Pengarang</th>
                      <th scope="col">Bahasa</th>
                      <th scope="col">Cover</th>
                      <th scope="col"></th>
                    </tr>
                  </tr>
                </thead>  
                <tbody>
                  {% for z in data %} 
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="/main2/exemplar/{{z.id}}">{{z.judul}}</a></td>
                    <td>{{z.info_detail_spesifikasi}}</td>
                    <td>{{z.pengarang}}</td>
                    <td>{{z.bahasa}}</td>
                    <td> <img src="{{buku.cover.url}}"></td>
                    <td>
                     <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal_{{z.id}}" style="padding: 5px;" class="bi bi-trash-fill"></a>
                      <a type="button" style="padding: 5px;" class="bi bi-pencil-fill" href="{{z.id}}/edit_biblografi"></a>
                      <a type="button" style="padding: 5px;" class="bi bi-eye-fill"href="{{z.id}}/detail_biblografi"></a>
                  </td>
                </tr>
                        </form>
                      </div> 
                    </div>
                  </div>
                  {% endfor %}     
                </tbody>                
              </table>
              </div>
              </div>
              </div>     
            </div><!-- End Bordered Tabs -->
        </div>
      </div><!-- End Bordered Tabs -->
  </div>
</section>

<!-- Modal Login -->

    {% endblock %}