{% extends "sidebarpustaka.html" %}
{% block content %}
{% load static %}
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{%static 'img/messages-2.jpg' %}" alt="Profile" class="rounded-circle">
              <h2>Aulia Hamidah</h2>
              <h3>Pustakawan</h3>
            </div>
          </div>
        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-isi">Isi Biodata</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Biodata</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              
              <div class="tab-content pt-6">
                <div class="tab-content pt-6">

                <div class="tab-pane fade show active profile-isi" id="profile-isi">
                  <h6 class="card-title">*Lengkapi profil anda</h6>

                  <form method="post" action="">
                    {% csrf_token %}

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nama</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="nama" type="text" class="form-control" id="fullName">
                    </div>
                  </div>

                    <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Tanggal Lahir</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="tgl" type="date" class="form-control" id="fullName">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-3">
                      <label class="mt-1">Jenis Kelamin</label>
                    </div>
                    <div class="col">
                      <select class="form-select" name="jenis_kelamin" aria-label="Default select example">
                        <option selected>Pilih</option>
                        <option value="Perempuan">Perempuan</option>
                        <option value="Laki-Laki">Laki-Laki</option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Jabatan</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="jabatan" type="text" class="form-control" id="fullName">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Alamat</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="alamat" type="text" class="form-control" id="fullName">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">No Hp</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="hp" type="text" class="form-control" id="fullName">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="mail" type="text" class="form-control" id="fullName">
                    </div>
                  </div>
                  <br>
                  <div class="row mb-3">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                  </div>
                  </form>
              </div>
              <!-- Profile Edit Form -->
                   <div class="tab-pane fade profile-overview pt-3" id="profile-overview">
                    <form method="post" action="">
                      {% csrf_token %} 
                    <div class="row">
                      <div class="col-md-1">
                        <label class="mt-1">Nama</label>
                      </div>:  
                                    
                      <div class="col-md-8 col-lg-9">
                       <input name="nama" type="text" class="form-control" id="fullName" value="{{z.nama}}">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-1">
                        <label class="mt-1">Tanggal Lahir</label>
                      </div>:  
                                      
                      <div class="col">
                        {{z.tanggal_lahir}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-1">
                        <label class="mt-1">Jabatan</label>
                      </div>:  
                                    
                      <div class="col">
                        {{z.jabatan}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-1">
                        <label class="mt-1">alamat</label>
                      </div>:  
                                      
                      <div class="col">
                        {{z.alamat}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-1">
                        <label class="mt-1">Nama</label>
                      </div>:  
                                      
                      <div class="col">
                        {{z.nama}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-1">
                        <label class="mt-1">Nama</label>
                      </div>:  
                                    
                      <div class="col">
                        {{z.nama}}

                        
                      </div>
                
                    </div>
                 

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  
                  </form><!-- End Profile Edit Form -->

                </div>
                
                <div class="tab-pane fade pt-3 profile-settings" id="profile-settings">

                  <!-- Settings Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade" checked>
                          <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->
                </div>
              </div><!-- End Bordered Tabs -->
            </div>
          </div>
        </div>
          </div>
        </div>
    </section>
    {% endblock %}