{% extends "sidebarpustaka.html" %}
{% block content %}
{% load static %}

{% if messages %}
      {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    {% endif %}
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
        </div>

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tambah Exemplar</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Data Exemplar</button>
                </li>

              </ul>
              <div class="tab-content pt-6">
                <br>
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <form method="post" action="">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="judul" class="col-md-4 col-lg-3 col-form-label">Judul</label>
                    <div class="col-md-8 col-lg-9">
                    <select name="judul" class="form-control">
                      {% for choice in buku %}
                          <option class="form-control" value="{{ choice }}">{{ choice.judul }}</option>
                          {% endfor %}
                    </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="pengarang" class="col-md-4 col-lg-3 col-form-label">Pengarang</label>
                    <div class="col-md-8 col-lg-9">
                    <select name="pengarang" class="form-control">
                      {% for choice in buku %}
                          <option class="form-control" value="{{ choice }}">{{ choice.pengarang }}</option>
                          {% endfor %}
                    </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Edisi" class="col-md-4 col-lg-3 col-form-label">Kode Exemplar</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="k_exemplar" type="text" class="form-control" id="k_exemplar" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="ids" class="col-md-4 col-lg-3 col-form-label">No Panggil</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="no_panggil" type="text" class="form-control" id="no_panggil" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="ids" class="col-md-4 col-lg-3 col-form-label">Kode Inventaris</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="k_inventaris" type="text" class="form-control" id="k_inventaris" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="isbn" class="col-md-4 col-lg-3 col-form-label">Lokasi Rak</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="lokasi" type="text" class="form-control" id="lokasi" >
                    </div>
                  </div>

                  <!-- <div class="row mb-3">
                    <label for="tterbit" class="col-md-4 col-lg-3 col-form-label">Tanggal Pemesanan</label>
                    <div class="col-md-8 col-lg-5">
                      <input name="t_pemesanan" type="date" class="form-control" id="t_pemesanan" >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="ds" class="col-md-4 col-lg-3 col-form-label">Tanggal Perimaan</label>
                    <div class="col-md-8 col-lg-5">
                      <input name="t_penerima" type="date" class="form-control" id="t_penerima" >
                    </div>
                  </div> -->

                <!-- <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-3 pt-0">Promosikan di Beranda</legend>
                  <div class="col-sm-5">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="tampil" checked>
                      <label class="form-check-label" for="gridRadios1">
                        Promosikan
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="sembunyi">
                      <label class="form-check-label" for="gridRadios2">
                        Jangan Promosikan
                      </label>
                    </div>
                  </div>
                </fieldset> -->

                <br>
                <div class="row mb-3">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </div>
              </div>
            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
              <!-- Profile Tampil Form -->
              <form>
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">Judul</th>
                      <th scope="col">pengarang</th>
                      <th scope="col">Kode Exemplar</th>
                      <th scope="col">Lokasi</th>
                      <th scope="col">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for d in data %} 
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{d.judul}}</td>
                      <td>{{d.pengarang}}</td>
                      <td>{{d.kode_exemplar}}</td>
                      <td>{{d.lokasi}}</td>
                      <td>
                        <a type="button" style="padding: 3px;" class="bi bi-trash-fill" href="{{d.id}}/delete_exemplar"></a>
                        <a type="button" style="padding: 3px;" class="bi bi-pencil-fill" href="{{d.id}}/edit_exemplar"></a>
                        <a type="button" style="padding: 3px;" class="bi bi-eye-fill" href="{{d.id}}/detail_exemplar"></a>
                    </td>
                    </tr>
                     {% endfor %}    
                    </tr>
                  </tbody>                              
                </table>
              </form><!-- End Profile Edit Form -->
            </div>
          </div><!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}