{% extends "sidebar.html" %}
{% block content %}
{% load static %}
    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
    
              <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <label for="bebas"><p> <h6> Bebas pustaka merupakan surat yang menerangkan bahwa mahasiswa tidak memiliki tanggungan pinjam koleksi atau denda Perputakaan kita, Setiap mahasiswa/siswa yang telah menyelsaikan studi diwajibkan mengurus Bebas pustaka, Bebes Pustaka sebagai syarat kelulusan dan pengambilan ijazah. <br>
                        <br>
                        Berikut ketentuan proses Bebas Pustaka online diperpustakaan kita: <br>
                        1. Mahasiswa/siswa/santri yang menunjukan Bebas Pustaka wajib melakukan pendaftaran online. <br>
                        2. Mahasiswa/siswa/Santri melakukan upload mandiri file(Tugas Akhir, Tesis atau Disertasi. <br>
                        3. Apabila mahasiswa sudah menyertakan hardcopy (Tugas akhir, tesis atau disertasi) dan TIDAK mempunyai tanggungan peminjaman koleksi atau denda, maka bebas pustaka akan dikirim langung k Email atau No.WA yang telah didaftarkan</p><br>
                        informasi lanjut Cp: Admin(0873948347239/perpustakaankita@gmail.com)</h6>
                </div>
              </div>
            </div>
        </div>             
    </section>

    {% endblock %}