{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Profil Pustakawan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'img/favicon.png'%}" rel="icon">
  <link href="{%static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'vendor2/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'vendor2/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'vendor2/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'vendor2/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{%static 'vendor2/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{%static 'vendor2/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static 'vendor2/simple-datatables/style.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'css2/style.css'%}" rel="stylesheet">

  <!-- =======================================================-->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- <img src="static/img/logo.png" alt=""> -->
        <span class="d-none d-lg-block">PERPUSTAKAAN KITA</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
          </a>

        </li>

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
          </a>

        </li>

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{%static 'img/messages-2.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Alny Nurafia</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Alny Nurafia</h6>
              <span>Pustakawan</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="usersprof">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="usersprof">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li>
      </ul>
    </nav>

  </header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'katalog' %}">
          <i class="bi bi-card-list"></i>
          <span>Katalog Online</span>
        </a>
      </li><!-- End Katalog Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'usersprof' %}">
          <i class="bi bi-menu-button-wide"></i><span>Biodata Diri</span>
        </a>
        <!-- End Biodata Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url 'usulan' %}">
          <i class="bi bi-journal-text"></i><span>Usulan Koleksi</span>
        </a>
        <!-- End usulan Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url 'history-peminjaman' %}">
          <i class="bi bi-bar-chart"></i><span>History Peminjaman</span>
        </a>
        <!-- End history Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url 'bebas-pustaka' %}">
          <i class="bi bi-journal"></i><span>Bebas Pustaka</span>
        </a>
      <li class="nav-item">
        <a class="nav-link collapsed" href=#>
          <i class="bi bi-question-circle"></i>
          <span>Informasi Literasi Daring</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'order-buku' %}">
          <i class="bi bi-cart2"></i>
          <span>Order Buku</span>
        </a>
      </li><!-- End Order Buku Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'upload-karya' %}">
          <i class="bi bi-file-earmark-plus"></i>
          <span>Upload Karya</span>
        </a>
      </li><!-- End karya Page Nav -->

      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'index' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Logout Page Nav -->
    </ul>
  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div>
        {% block content %}
        {% endblock  %}
    </div>
  </main>
  

  <!-- Vendor JS Files -->
  <script src="{%static 'vendor2/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{%static 'vendor2/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'vendor2/chart.js/chart.min.js' %}"></script>
  <script src="{%static 'vendor2/echarts/echarts.min.js' %}"></script>
  <script src="{%static 'vendor2/quill/quill.min.js' %}"></script>
  <script src="{%static 'vendor2/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{%static 'vendor2/tinymce/tinymce.min.js' %}"></script>
  <script src="{%static 'vendor2/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'js2/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>