{% extends "sidebar.html" %}
{% block content %}
{% load static %}

    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">
        </div>

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">History Buku Yang Dipinjam</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Buku Yang Sedang Dipinjam</button>
                </li>

              </ul>
              <div class="tab-content pt-2">
              <div class="tab-pane fade profile-edit pt-3" id="profile-overview">

                <!-- Profile Edit Form -->
                <form>            
                  <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static '/img/book1.jpg' %}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Buku Dasar-Dasar Informatika</h5>
                          <p class="card-text">Pengarang Rizal-Hidzh</p>
                          <p class="card-text">Tgl-05-08-2021</p>
                          <p class="card-text">Lokasi Perpus UNU Yogyakarta</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static '/img/book2.jpg' %}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Buku Sejarah Dunia</h5>
                          <p class="card-text">Pengarang Ilzam Cawil</p>
                          <p class="card-text">Tgl-07-08-2021</p>
                          <p class="card-text">Lokasi Graha Pustaka</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nama Buku</th>
                      <th scope="col">Nama Perpustakaan</th>
                      <th scope="col">Jumlah</th>
                      <th scope="col">TGL Pinjam</th>
                      <th scope="col">Tgl Pengambalian</th>
                      <th scope="col">Status</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Buku Dasar Informatika</th>
                      <td>UNU Yogyakarta</td>
                      <td>1 Buah</td>
                      <td>05-08-2021</td>
                      <td>08-08-2021</td>
                      <td>Sedang Berlangsung</td>
                    </tr>
                      <th scope="row">Buku Sejarah Dunia</th>
                      <td>Graha Pustaka</td>
                      <td>2 Buah</td>
                      <td>05-08-2021</td>
                      <td>08-08-2021</td>
                      <td>Denda 2 Hari</td>
                    
                  </tbody>
                </table>
                
               

                
              </div>
            </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    {% endblock %}