<html lang="en">
<head>
    <style>
        .form-control{
            height: 30px;
            width: 20%;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div>
        <label >Judul* <input type="text" class="form-control" name = 'jdl'></label>
    </div>
    <div>
        <tr>Pengarang</tr>
        <th><input type="text" class="form-control" name = 'pgrg'></tr>
    </div>
    <div>
        <tr>Edisi</tr>
        <th><input type="text" class="form-control" name="eds"></tr>
    </div>
    <div>
        <tr>Info detail spesifik</tr>
        <tr><input type="text" class="form-control" name = 'ids'></tr>
    </div>
    <div>
            <select name="Tipe isi" class="form-control" name = 'tipe' >
            <option value="Tipe isi"> Tipe isi

            <option value="Seni"> Seni
            
            <option value="Teknologi"> Teknologi
            
            <option value="Agama"> Agama
            
            <option value="Politik"> Politik
            
            </select>
    </div>
    <div>
        <tr>Tipe media</tr>
        <tr><input type="text" class="form-control" name="tm"></tr>
    </div>
    <div>
        <tr>ISBN/ISSN</tr>
        <tr><input type="text"class="form-control" name= 'isbn'></tr>
    </div>
    <div>
        <tr>Penerbit</tr>
        <tr><input type="text"class="form-control" name ='pnrbt'></tr>
    </div>
    <div>
        <tr>Tahun Terbit</tr>
        <tr><input type="text"class="form-control" name = 'thntrbt'></tr>
    </div>
    <div>
        <tr>Tempat Terbit</tr>
        <tr><input type="text"class="form-control"name ='tmpttrbt'></tr>
    </div>
    <div>
        <tr>Deskripsi Fisi</tr>
        <tr><input type="text"class="form-control"name='df'></tr>
    </div>
    <div>
        <tr>Judul Seri</tr>
        <tr><input type="text"class="form-control" name = 'js'></tr>
    </div>
    <div>
        <tr>Klasifikasi</tr>
        <tr><input type="text"class="form-control" name = 'klsfks'></tr>
    </div>
    <div>
        <tr>NO panggil</tr>
        <tr><input type="text"class="form-control" name = 'np'></tr>
    </div>
    <div>
        <tr>Subjek</tr>
        <tr><input type="text"class="form-control" name="subyek"></tr>
    </div>
    <div>
        <tr>Bahasa</tr>
        <tr><input type="text"class="form-control" name="bhs"></tr>
    </div>
    <div>
        <tr>Gambar Sampul</tr>
        <tr><input type="text"class="form-control" name="gs"></tr>
    </div>
    <div>
        <tr>Sembunyikan diopak</tr>
        <tr><input type="radio" id="Sembunyikan" name="sembunyi" value="Sembunyikan"></tr>
        <tr>Tampilkan diopak</tr>
        <tr><input type="radio" id="tampilkan" name="tampilkan" value="tampilkan"></tr>
    </div>
    <div>
        <tr>Promosikan keberanda</tr>
        <tr><input type="radio" id="tampilkan" name="tampilkan" value="tampilkan"></tr>
        <tr>Sembunyikan Dari beranda</tr>
        <tr><input type="radio" id="Sembunyikan" name="sembunyi" value="Sembunyikan"></tr>
    </div>
            <button type="submit"  class="btn btn-success"  >Simpan </button>
        </form>
    </div>
    
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
</html>              